.btn
  color: #000
  font-size: 18px
  line-height: 21px
  letter-spacing: .02em
  border-radius: 5px
  text-transform: uppercase

  &--yellow
    background-color: #FFB100

  &--white
    background-color: #ffffff
