.btn
  color: #000
  font-size: 18px
  line-height: 21px
  letter-spacing: .02em
  border-radius: 5px
  text-transform: uppercase
  transition: .3s ease

  &--yellow
    background-color: #FFB100
    
    &:hover
      color: #fff

  &--white
    background-color: #ffffff

    &:hover
      font-weight: 700
