// main page

.intro
  position: relative
  
.slider
  width: 100%

  &__item
    background-size: cover
    background-position: center
    position: relative

    &::after
      content: ''
      position: absolute
      z-index: 1
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(270deg, #1C222A 0%, rgba(71, 71, 71, 0.7) 48.62%, rgba(255, 255, 255, 0.3) 100%)
      transform: rotate(-180deg)

  &__content
    padding: 93px 20px 130px 60px
    position: relative
    z-index: 2

    +r(440)
      height: calc(100vh - 100px)
      padding: 70px 20px 30px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

  &__title
    font-size: 64px
    line-height: 75px
    letter-spacing: .02em
    color: #fff

    +r(769)
      font-size: 44px

    +r(440)
      font-size: 34px
      line-height: 60px

  &__desc
    font-size: 24px
    line-height: 28px
    letter-spacing: .02em
    color: #fff

  &__info
    margin: 36px 0

    &__block
      margin: 9px 0
      line-height: 21px

      +r(992)
        display: flex
        align-items: center

      &__icon
        display: inline-block
        width: 20px
        height: 20px
        margin-right: 20px

        +r(992)
          margin-right: 10px
          width: 17px
          height: 17px

      &__text
        font-size: 18px
        letter-spacing: .02em
        color: #fff

        +r(992)
          font-size: 14px

  .owl-prev
    position: absolute
    top: 50%
    left: 10%
    transform: translate(50%, -100%)
    color: #fff

    +r(1445)
      left: 5%

    +r(992)
      left: 0%

  .owl-next
    position: absolute
    top: 50%
    right: 10%
    transform: translate(-50%, -100%)
    color: #fff

    +r(1445)
      right: 5%

    +r(992)
      right: 0%

  .btn--yellow
    padding: 16px 50px

    +r(992)
      display: block
      padding: 10px 20px
      margin: auto

.social
  position: absolute
  right: 10px
  bottom: 30px
  display: flex
  flex-direction: column
  z-index: 2

  &__item
    display: inline-flex
    align-items: center
    justify-content: center
    width: 26px
    height: 26px
    margin: 5px
    border: 2px solid #fff
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%

    .fab
      font-size: 12px
      color: #fff

.old-site
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 3
  padding: 10px 30px
  line-height: 0
  text-align: right

  &__link
    display: inline-block
    padding-bottom: 2px
    font-size: 14px
    line-height: 16px
    color: #fff
    border-bottom: 1px solid #ffffff
    letter-spacing: 0.02em
    
    &:hover 
      text-decoration: none
      color: #fff

.icon-arrow-left
  stroke: #ffffff
  fill: transparent
  font-size: 50px

  +r(992)
    font-size: 35px

.icon-arrow-right
  stroke: #ffffff
  fill: transparent
  font-size: 50px

  +r(992)
    font-size: 35px

.section
  padding-top: 50px
  padding-bottom: 30px

  +r(992)
    padding-top: 35px
    padding-bottom: 10px

  &__desc
    font-size: 18px
    line-height: 21px
    padding-bottom: 2px
    letter-spacing: 0.02em
    color: #000000

    +r(992)
      text-align: right
      font-size: 14px

    span
      border-bottom: 1px solid #000000

    +r(990)


  &.posters
    .title-block
      margin-top: 50px

      +r(992)
        margin-top: 25px

  &.kids
    padding-bottom: 60px

.title-block
  display: flex
  justify-content: space-between
  align-items: center

  +r(440)
    flex-direction: column

.title
  font-size: 36px
  line-height: 42px
  letter-spacing: 0.02em

  +r(992)
    font-size: 24px
    line-height: 28px

.filter
  display: flex
  flex-direction: row
  align-items: center

  +r(992)
    padding-top: 15px

  &__icon
    margin-right: 10px

    .icon
      width: 25px
      height: 25px
      fill: #000000

      +r(992)
        width: 20px
        height: 20px

  .dropdown
    .btn
      color: #000
      margin: 0 15px
      text-transform: none
      font-size: 18px
      line-height: 21px

      +r(992)
        margin: 0 10px

    &:last-child
      .btn
        margin-right: 0

.posters

  &__wrap
    display: flex
    +r(440)
      margin: 0 -15px

  &__calendar
    flex: 1
    overflow: hidden
    margin: 50px 0
    position: relative
    text-align: center

    +r(992)
      display: none !important

    .owl-stage-outer
      transform: rotate(90deg)
      overflow: visible
      left: -10%

    &__item
      display: flex
      flex-direction: column
      flex-wrap: wrap
      transform: rotate(-90deg)

      &:hover
        text-decoration: none

        .posters__calendar__month
          opacity: 1

        .posters__calendar__day
          font-size: 48px

    &__day
      display: inline-block
      font-size: 24px
      line-height: 28px
      color: #000

    &__month
      display: block
      padding-top: 5px
      font-size: 18px
      line-height: 21px
      color: #000
      text-transform: lowercase
      transition: .3s ease
      opacity: 0

  &__main
    display: flex
    justify-content: center
    flex-wrap: wrap
    flex: 6
    margin-top: 50px

    +r(992)
      margin-top: 25px

.calendar-next,
.calendar-prev
  position: absolute
  left: 32%
  padding: 5px
  transform: rotate(90deg)
  background: #fff
  .icon
    stroke: #FFB100
    font-size: 30px

.calendar-prev
  top: -7px

.calendar-next
  bottom: -7px

.notification
  padding: 50px 80px
  margin-top: 10px
  margin-bottom: 50px
  margin-left: 5px
  border: 1px solid #FFB100
  position: relative

  +r(992)
    padding: 30px 40px
    margin-bottom: 30px

  +r(440)
    margin-left: 20px
    margin-right: 15px

  &__text
    font-size: 18px
    line-height: 21px
    color: #000
    text-align: center

  &__icon
    display: inline-block
    width: 57px
    height: 57px
    position: absolute
    left: 0
    top: 0
    transform: translate(-50%, -50%)
    background: #fff
    padding: 10px

.poster
  width: 210px
  margin: 16px 0 0 27px
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25)
  line-height: 0
  position: relative
  transition: ease .3s
  overflow: hidden

  +r(1024)
    width: 172px

  +r(440)
    &::after
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: linear-gradient(270deg, #000000 0%, rgba(255, 255, 255, 0) 110%)

  +r(440)
    width: 100%
    margin-left: 0

  &:hover
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7)

    .poster__details
      opacity: 1
      transform: translateY(0)

  &__img

    +r(440)
      width: 50%

  &__details
    display: flex
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100%
    flex-direction: column
    justify-content: flex-end
    align-items: center
    padding: 15px 15px 45px 15px
    font-size: 14px
    line-height: 16px
    color: #000
    text-align: center
    background: linear-gradient(360deg, #FFB100 0%, rgba(196, 196, 196, 0.7) 100%)
    opacity: 0
    transform: translateY(100%)
    transition: ease .3s

    +r(1024)
      opacity: 1
      transform: translateY(0)

    +r(992)
      font-size: 12px

    .btn
      margin-top: 8px
      padding: 7px 30px
      font-size: 13px
      line-height: 15px

      +r(440)
        background: #FFB100

    +r(440)
      padding: 10px
      justify-content: center
      align-items: start
      opacity: 1
      transform: none
      width: 50%
      background: none
      right: 0
      left: auto
      color: #ffffff
      z-index: 2

  &__title
    font-size: 24px
    line-height: 28px

    +r(1025)
      font-size: 20px
      line-height: 22px

    +r(440)
      font-size: 17px
      line-height: 22px
      text-align: left

  &__date-time
    margin: 10px 0

    +r(992)
      margin: 5px 0
      
    +r(440)
      text-align: left

  &__place
    margin-bottom: 10px
    
    +r(440)
      text-align: left

.more
  display: block
  width: 100%
  margin-top: 50px
  text-align: center

  +r(992)
    margin-top: 25px

  .btn
    display: inline-flex
    align-items: center
    padding: 15px 50px
    text-transform: none

    +r(992)
      padding: 10px 30px

  .icon
    margin-left: 15px
    width: 25px
    height: 25px

.pre-slider
  width: 94%
  margin: 40px auto

  +r(992)
    margin: 20px auto

  &__item
    display: inline-flex
    align-items: center
    padding-bottom: 10px
    font-size: 18px
    line-height: 21px
    position: relative
    transition: ease .3s
    text-align: center

    +r(992)
      font-size: 16px

    a
      color: #000
      text-decoration: none

    &:hover
      font-weight: bold

  .owl-stage
    display: flex

  .owl-item
    display: flex
    justify-content: center
    border-bottom: 1px solid #C4C4C4
    transition: .3s ease

    &:hover
      border-color: #FFB100

  .owl-nav
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1140px
    width: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    &.disabled
      display: flex

  .owl-prev
    margin-left: -30px

  .owl-next
    margin-right: -30px

.slider-medium

  &__item
    display: block
    margin: 20px 20px 30px
    position: relative
    overflow: hidden
    line-height: 0
    box-shadow: 0 4px 15px rgba(0, 0, 0, .25)
    transition: ease .3s

    +r(440)
      margin: 10px
      &::after
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: linear-gradient(270deg, #000000 0%, rgba(255, 255, 255, 0) 110%)

    img

      +r(440)
        width: 50% !important

    &:hover
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7)

      .slider-medium__content
        opacity: 1
        transform: translateY(0)

  &__content
    display: flex
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100%
    flex-direction: column
    justify-content: flex-end
    align-items: center
    padding: 30px 15px 50px
    font-size: 14px
    line-height: 16px
    color: #000
    text-align: center
    background: linear-gradient(360deg, #FFB100 0%, rgba(196, 196, 196, 0.7) 100%)
    opacity: 0
    transform: translateY(100%)
    transition: ease .3s

    +r(1024)
      opacity: 1
      transform: translateY(0)

    +r(767)
      padding: 10px
      justify-content: center

    +r(440)
      opacity: 1
      transform: none
      width: 50%
      background: none
      right: 0
      left: auto
      color: #ffffff
      z-index: 2
      align-items: start
      text-align: left

    .btn
      margin-top: 8px
      padding: 15px 40px
      font-size: 18px
      line-height: 21px
      letter-spacing: 0.02em

      +r(440)
        padding: 7px 30px
        font-size: 13px
        line-height: 15px
        background: #FFB100

  &__title
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    overflow: hidden
    margin-bottom: 10px
    font-size: 35px
    line-height: 40px
    letter-spacing: 0.02em

    +r(1025)
      font-size: 30px
      line-height: 32px

    +r(440)
      font-size: 17px
      line-height: 22px
      margin-bottom: 5px

  &__desc
    font-size: 16px
    line-height: 19px
    letter-spacing: 0.02em

    +r(440)
      font-size: 14px
      line-height: 16px

  &__date-time
    margin: 35px 0
    font-size: 14px
    line-height: 16px
    letter-spacing: 0.02em

    +r(440)
      margin: 7px 0

  &__place
    margin-bottom: 20px

    &.disabled
      display: flex

  .owl-prev
    margin-left: -50px

  .owl-next
    margin-right: -50px

  .owl-dots
    display: flex
    justify-content: center
    margin-top: 10px

  .owl-dot
    display: inline-block
    width: 15px
    height: 15px
    margin: 0 5px
    background-color: #C4C4C4

    +r(1025)
      width: 10px
      height: 10px

    &.active
      background-color: #000000

.slider-theaters-prev,
.slider-places-prev,
.slider-kids-prev
  position: absolute
  top: 45%
  left: -50px
  transform: translate(0, -50%)

  +r(1024)
    left: -5px
    transform: translate(-50%, -50%)

  .icon-arrow-left
    stroke: #000000
    font-size: 54px

    +r(1024)
      font-size: 35px

.slider-theaters-next,
.slider-places-next,
.slider-kids-next
  position: absolute
  top: 45%
  right: -50px
  transform: translate(0, -50%)

  +r(1024)
    right: -5px
    transform: translate(50%, -50%)

  .icon-arrow-right
    stroke: #000000
    font-size: 54px

    +r(1024)
      font-size: 35px

.pre-slider-theaters-prev,
.pre-slider-places-prev,
.pre-slider-kids-prev
  position: absolute
  top: 50%
  left: -30px
  transform: translate(0, -50%)
  .icon-arrow-left
    stroke: #000000
    font-size: 27px

  +r(440)
    left: -20px

.pre-slider-theaters-next,
.pre-slider-places-next,
.pre-slider-kids-next
  position: absolute
  top: 50%
  right: -30px
  transform: translate(0, -50%)
  .icon-arrow-right
    stroke: #000000
    font-size: 27px

  +r(440)
    right: -20px

.slider-kids

  .slider-medium__title
    font-size: 30px
    line-height: 35px

    +r(440)
      font-size: 20px
      line-height: 25px

  .btn
    margin-top: 60px

    +r(440)
      margin-top: 30px
