{% extends "layouts/_layout.html" %}
{% block content %}
<div class="tickets">
<header class="main-header">
  <div class="main-header-content">
    <div class="info-wrapper">
      <img class="main-header-logo" src="../img/book-pages/book-tickets-header-logo.png" alt="logo" />
      <div class="event-name">Monatik love it ритм тур</div>
      <div class="event-date">30 Февраля 2020 (Cреда)</div>
      <div class="event-time">12:45</div>
      <div class="event-place">Стадион “Олимпийский”, Киев</div>
    </div>
    <div class="main-header-timer-wrapper">
      <div class="main-header-timer">15:00</div>
    </div>
  </div>
  <div class="main-header-content-mobile">
    <div class="logo-block">
      <img class="icon-24" src="../img/book-pages/back.png" alt="back" />
      <img class="main-header-logo" src="../img/book-pages/book-tickets-header-logo.png" alt="logo" />
      <div class="main-header-timer-mobile">15:25</div>
    </div>
    <div class="event-name">Monatik love it ритм тур</div>
    <div class="event-date"><img class="icon-24" src="../img/book-pages/calendar.png" alt="calendar" /><span class="event-text">30 Февраля 2020 (Cреда)</span></div>
    <div class="event-time"><img class="icon-24" src="../img/book-pages/clock.png" alt="time" /><span class="event-text">12:45</span></div>
    <div class="event-place"><img class="icon-24" src="../img/book-pages/location.png" alt="location" /><span class="event-text">Стадион “Олимпийский”, Киев</span></div>
  </div>
</header>
<div class="content">
  <div class="tickets-select">
    <button class="control-button plus"><img class="icon-12" src="../img/book-pages/plus.png" alt="plus" /></button>
    <button class="control-button minus"><img class="icon-12" src="../img/book-pages/minus.png" alt="minus" /></button>
    <button class="control-button focus"><img class="icon-12" src="../img/book-pages/focus.png" alt="focus" /></button>
    <button class="prices-button"><img class="prices-rectangle" src="../img/book-pages/price_rectangle.png" alt="price dropdown" />Цены</button>
    
    <div class="tickets-select-header">Выберите билеты и нажмите "Подтвердить"</div>
    <div class="tickets-select-header-mobile">Доставка</div>
  </div>
  <div class="tickets-list-wrapper-mobile">
    <div class="total-amount">
      <img class="icon-16" src="../img/book-pages/wallet.png" alt="total" />
      <div>
        <div>0 билетов</div>
        <div>0 &#8372;</div>
      </div>
    </div>
    <div><button class="accept-button-m"><span>Подтвердить</span></button></div>
  </div>
  <div class="tickets-list-wrapper">
    <div class="tickets-list-header">Выберите, пожалуйста, билеты</div>
    <div class="tickets-list"></div>
    <div class="tickets-list-footer">
      <div class="footer-item">
        <span class="footer-item-text">Выбрано мест: </span><span>0</span>
      </div>
      <div class="footer-item">
        <span class="footer-item-text">Стоимость: </span><span>0 &#8372;</span>
      </div>
      <div class="footer-item last-item">
        <span class="footer-item-text">Сервисный сбор: </span><span>0 &#8372;</span>
      </div>
      <div class="footer-item">
        <span class="footer-item-text text-bold">К оплате: </span><span>0 &#8372;</span>
      </div>
      <div>
        <button class="accept-button">Продолжить</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
