{% extends "layouts/_layout.html" %}
{% block content %}
<div class="tickets">
  <header class="main-header">
    <div class="main-header-content">
      <div class="info-wrapper">
        <img class="main-header-logo" src="img/book-pages/book-tickets-header-logo.png" alt="logo" />
        <div class="event-name">Monatik love it ритм тур</div>
        <div class="event-date"><img class="icon-14 custom mr-8" src="img/book-pages/calendar-small.svg" alt="calendar" />30 Февраля 2020 (Cреда)</div>
        <div class="event-time"><img class="icon-12 mr-8" src="img/book-pages/clock-small.svg" alt="time" />12:45</div>
        <div class="event-place"><img class="icon-location-custom mr-8" src="img/book-pages/location-small.svg" alt="time" />Стадион “Олимпийский”, Киев</div>
      </div>
      <div class="main-header-timer-wrapper">
        <div class="main-header-timer">15:00</div>
      </div>
    </div>
    <div class="main-header-content-mobile">
      <div class="logo-block">
        <img class="icon-9-16" src="img/book-pages/back.png" alt="back" />
        <img class="main-header-logo" src="img/book-pages/book-tickets-header-logo.png" alt="logo" />
        <div class="main-header-timer-mobile">15:25</div>
      </div>
      <div class="event-name">Monatik love it ритм тур</div>
      <div class="event-date"><img class="icon-24" src="img/book-pages/calendar.png" alt="calendar" /><span class="event-text">30 Февраля 2020 (Cреда)</span></div>
      <div class="event-time"><img class="icon-24" src="img/book-pages/clock.png" alt="time" /><span class="event-text">12:45</span></div>
      <div class="event-place"><img class="icon-24" src="img/book-pages/location.png" alt="location" /><span class="event-text">Стадион “Олимпийский”, Киев</span></div>
    </div>
  </header>
  <div class="content">
    <div class="tickets-select">
      <div class="lp-header lp-2 lp-3">Оплата электронного билета не была завершена!</div>
      <div class="lp-image-wrapper"><img class="lp-3" src="img/book-pages/credit-card.svg" alt="balloon" /></div>
      <div class="lp-order-info m-b-small">Ваш заказ №5643</div>
      <div class="lp-order-info">Проверьте данные карты или выберите другой способ получения билета.</div>
      <div class="lp-button-w">
        <button class="lp-button">К заказу</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}Его можна распечатать перед мероприятием, или сохранить на телефон и показать на входе
