<footer class="footer">
    <div class="container">
        <div class="row footer__wrap">
            <div class="col-lg-3 footer__item">
                <div class="copyright">
                    <p>© 1001bilet.ua</p>
                    <a href="">Все права защищены.</a>
                </div>
                <!--<div class="social">-->
                    <!--<a href="" class="social__item">-->
                        <!--<i class="fab fa-facebook-f"></i>-->
                    <!--</a>-->
                    <!--<a href="" class="social__item">-->
                        <!--<i class="fab fa-twitter"></i>-->
                    <!--</a>-->
                    <!--<a href="" class="social__item">-->
                        <!--<i class="fab fa-google-plus-g"></i>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
            <div class="col-lg-3 footer__item">
                <ul class="list-unstyled">
                    <li>
                        <a class="link" href="">Публичная оферта</a>
                    </li>
                    <li>
                        <a class="link" href="">Концерты</a>
                    </li>
                    <li>
                        <a class="link" href="">Театры Киева</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer__item">
                <ul class="list-unstyled">
                    <li>
                        <a class="link" href="">Гастрольные спектакли</a>
                    </li>
                    <li>
                        <a class="link" href="">Cпектакли для детей</a>
                    </li>
                    <li>
                        <a class="link" href="">Цирк</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer__item">
                <ul class="list-unstyled">
                    <li>
                        <a class="link" href="">Концертные залы</a>
                    </li>
                    <li>
                        <a class="link" href="">Карта сайта</a>
                    </li>
                    <li>
                        <a class="link" href="">Архив событий</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
