<header class="header">
    <div class="row">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top scrolling-navbar header__navbar">
            <a class="navbar-brand logo col-lg-3" href="#">
                <img src="img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="header__wrap col-lg-9">
                <div class="collapse navbar-collapse header__navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav header__navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link header__nav-link" href="#">Концерты<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Театры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Туры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Детям</a>
                        </li>
                    </ul>
                </div>
                <div class="header__action header__action--search">
                    <button>
                        <img src="img/search.png" alt="search icon">
                    </button>
                    <button>
                        <img src="img/calendar.png" alt="calendar icon">
                    </button>
                </div>
                <div class="header__action header__action--city">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Киев
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownCity">
                            <button class="dropdown-item" type="button">Одесса</button>
                            <button class="dropdown-item" type="button">Харьков</button>
                            <button class="dropdown-item" type="button">Днепр</button>
                        </div>
                    </div>
                </div>
                <div class="header__action header__action--lang">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            RU
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLang">
                            <button class="dropdown-item" type="button">UA</button>
                            <button class="dropdown-item" type="button">EN</button>
                        </div>
                    </div>
                </div>
                <div class="header__action header__action--account">
                    <button>
                        <img src="img/profile.png" alt="profile icon">
                    </button>
                    <button>
                        <img src="img/shopping-cart.png" alt="cart icon">
                    </button>
                </div>
            </div>
        </nav>
        </div>
    </div>
    <div class="pre-header">
        <div class="row">
            <div class="container">
                <div class="col-lg-9 pre-header__wrap ml-auto">
                    <ul class="pre-header__menu">
                        <li class="pre-header__menu__item">
                            <a href="" class="pre-header__menu__link">О нас</a></li>
                        <li class="pre-header__menu__item">
                            <a href="" class="pre-header__menu__link">Как заказать</a></li>
                        <li class="pre-header__menu__item">
                            <a href="" class="pre-header__menu__link">Наши кассы</a></li>
                        <li class="pre-header__menu__item">
                            <a href="" class="pre-header__menu__link">Отзывы</a></li>
                        <li class="pre-header__menu__item">
                            <a href="" class="pre-header__menu__link">Организаторам</a></li>
                    </ul>
                    <a href="tel:+380442218184" class="phone">(044) 221 81 84</a>
                </div>
            </div>
        </div>
    </div>
</header>
