<header class="header">
    <div class="row">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top scrolling-navbar header__navbar">
            <a class="navbar-brand logo col-lg-3" href="#">
                <img src="img/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!--<span class="navbar-toggler-icon"></span>-->
                <!--<span class="navbar-line">-->
                    {{mixins.icon('burger')}}
                <!--</span>-->
            </button>
            <div class="header__wrap col-lg-9">
                <div class="collapse navbar-collapse header__navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav header__navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Концерты<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Театры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Туры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link header__nav-link" href="#">Детям</a>
                        </li>
                        <li class="nav-item-more">
                            <span>...</span>
                            <ul class="more-items">
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Филармония</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Цирк</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Экскурсии</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Выставки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Конференции</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Дельфинарий</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link header__nav-link" href="#">Юмор</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-pre-header">
                            <ul class="pre-header">
                                <li class="pre-header__item">
                                    <a href="" class="pre-header__link">О нас</a>
                                </li>
                                <li class="pre-header__item">
                                    <a href="" class="pre-header__link">Как заказать</a>
                                </li>
                                <li class="pre-header__item">
                                    <a href="" class="pre-header__link">Наши кассы</a>
                                </li>
                                <li class="pre-header__item">
                                    <a href="" class="pre-header__link">Отзывы</a>
                                </li>
                                <li class="pre-header__item">
                                    <a href="" class="pre-header__link">Организаторам</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="tel:+380442218184" class="phone">
                        <span class="phone__icon">{{mixins.icon('phone')}}</span>
                        <span class="phone__text">(044) 221 81 84</span>
                    </a>
                </div>
                <div class="header__action header__action--search">
                    <form class="search-form" role="search">
                        <div class="form-group" id="search">
                            <input type="text" class="form-control" placeholder="Название места или события">
                            <button type="submit" class="form-control-submit">Submit</button>
                            <span class="search-label">
                            <i class="header__action__btn">
                                {{mixins.icon('search')}}
                            </i>
                        </span>
                        </div>
                    </form>
                    <button class="header__action__btn">
                        {{mixins.icon('calendar')}}
                    </button>
                </div>
                <!--<div class="header__action header__action&#45;&#45;city">-->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCity" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--Киев-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdownCity">-->
                            <!--<button class="dropdown-item" type="button">Одесса</button>-->
                            <!--<button class="dropdown-item" type="button">Харьков</button>-->
                            <!--<button class="dropdown-item" type="button">Днепр</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="header__action header__action&#45;&#45;lang">-->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--RU-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdownLang">-->
                            <!--<button class="dropdown-item" type="button">UA</button>-->
                            <!--<button class="dropdown-item" type="button">EN</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="header__action header__action--account">
                    <a href="tel:+380442218184" class="phone">
                        <span class="phone__icon">{{mixins.icon('phone')}}</span>
                    </a>
                    <button class="header__action__btn" style="display: none;">
                        {{mixins.icon('profile')}}
                    </button>
                    <!--<button class="header__action__btn">-->
                        <!--{{mixins.icon('shopping-cart')}}-->
                    <!--</button>-->
                </div>
            </div>
        </nav>
        </div>
    </div>
</header>
