{% set
    sliders = [
        {
            img: 'img/slider-1.jpg',
            title: 'Complexions',
            desc: 'Contemporary Ballet',
            date: '25.11.2018 19:00',
            place: 'МЦКИ (Октябрьский дворец)',
            price: 'от 350 грн'
        },
        {
            img: 'img/slider-1.jpg',
            title: 'Complexions 2',
            desc: 'Contemporary Ballet 2',
            date: '21.11.2018 19:00',
            place: 'МЦКИ (Октябрьский дворец)',
            price: 'от 1050 грн'
        },
        {
            img: 'img/slider-1.jpg',
            title: 'Complexions 3',
            desc: 'Contemporary Ballet 3',
            date: '21.11.2018 19:00',
            place: 'МЦКИ (Октябрьский дворец)',
            price: 'от 650 грн'
        }
    ]
%}

{% set
    posters = [
        {
            img: 'img/posters/poster-1.jpg',
            title: 'Complexions',
            date: '25.11.2019',
            time: '19:00',
            place: 'Палац Украина'
        },
        {
            img: 'img/posters/poster-2.jpg',
            title: 'ДахаБраха',
            date: '12.12.2019',
            time: '19:00',
            place: 'МЦКМ Жовтневый Палац'
        },
        {
            img: 'img/posters/poster-3.jpg',
            title: 'О чем молчат женщины',
            date: '25.11.2019',
            time: '19:00',
            place: 'Палац Украина'
        },
        {
            img: 'img/posters/poster-4.jpg',
            title: 'Гуд найт шоу',
            date: '01.12.2019',
            time: '19:00',
            place: 'Палац Украина'
        },
        {
            img: 'img/posters/poster-5.jpg',
            title: 'Монологи Вагины',
            date: '25.11.2019',
            time: '19:00',
            place: 'Палац Украина'
        },
        {
            img: 'img/posters/poster-6.jpg',
            title: 'Pianoбой',
            date: '12.12.2019',
            time: '19:00',
            place: 'МЦКМ Жовтневый Палац'
        },
        {
            img: 'img/posters/poster-7.jpg',
            title: 'Uriah Heep',
            date: '25.11.2019',
            time: '19:00',
            place: 'Палац Украина'
        },
        {
            img: 'img/posters/poster-8.jpg',
            title: 'Звери',
            date: '01.12.2019',
            time: '19:00',
            place: 'Палац Украина'
        }
    ]
%}

{% set
    theaters = [
        {
            title: 'Национальный академический театр оперетты'
        },
        {
            title: 'Драматический театр Леси Украинки'
        },
        {
            title: 'Театр Драмы и Комедии'
        },
        {
            title: 'Театр "Актёр"'
        }
    ]
%}

{% set
    theaterEvents = [
        {
            img: 'img/theaters/theater.jpg',
            title: 'Баядера Баядера Баядера Баядера',
            desc: 'Оперетта в 2 действиях',
            date: '07.11.2019',
            time: '19:00'
        },
        {
            img: 'img/theaters/operetta.jpg',
            title: 'Баядера',
            desc: 'Оперетта в 2 действиях',
            date: '12.12.2019',
            time: '18:00'
        },
        {
            img: 'img/theaters/opera.jpg',
            title: 'Баядера',
            desc: 'Оперетта в 2 действиях',
            date: '02.12.2019',
            time: '20:00'
        },
        {
            img: 'img/theaters/theater.jpg',
            title: 'Баядера',
            desc: 'Оперетта в 2 действиях',
            date: '07.11.2019',
            time: '19:00'
        },
        {
            img: 'img/theaters/operetta.jpg',
            title: 'Баядера',
            desc: 'Оперетта в 2 действиях',
            date: '12.12.2019',
            time: '18:00'
        },
        {
            img: 'img/theaters/opera.jpg',
            title: 'Баядера',
            desc: 'Оперетта в 2 действиях',
            date: '02.12.2019',
            time: '20:00'
        }
    ]
%}


{% set
    places = [
        {
            title: 'Дворец Украина'
        },
        {
            title: 'МЦКИ(Октябрьский дворец)'
        },
        {
            title: 'Дворец спорта'
        },
        {
            title: 'Stereo Plaza'
        }
    ]
%}

{% set
    placeEvents = [
        {
            img: 'img/places/place-1.jpg',
            title: 'Diare Straits',
            date: '07.11.2019',
            time: '19:00',
            where: 'Дворец Украина'
        },
        {
            img: 'img/places/place-2.jpg',
            title: 'Pianoбой',
            date: '12.12.2019',
            time: '18:00',
            where: 'Дворец Украина'
        },
        {
            img: 'img/places/place-3.jpg',
            title: 'Ara',
            date: '02.12.2019',
            time: '20:00',
            where: 'Дворец Украина'
        },
        {
            img: 'img/places/place-1.jpg',
            title: 'Diare Straits',
            date: '07.11.2019',
            time: '19:00',
            where: 'Дворец Украина'
        },
        {
            img: 'img/places/place-2.jpg',
            title: 'Pianoбой',
            date: '12.12.2019',
            time: '18:00',
            where: 'Дворец Украина'
        },
        {
            img: 'img/places/place-3.jpg',
            title: 'Ara',
            date: '02.12.2019',
            time: '20:00',
            where: 'Дворец Украина'
        }
    ]
%}

{% set
    kidsPlaces = [
        {
            title: 'Киевский национальный цирк'
        },
        {
            title: 'Театр "Божа Корівка"'
        },
        {
            title: 'Cпектакли и концерты для детей'
        },
        {
            title: 'Театр "Божа Корівка"'
        }
    ]
%}

{% set
    kidsEvents = [
        {
            img: 'img/for-kids/place-1.jpg',
            title: 'Спектакли и концерты для детей'
        },
        {
            img: 'img/for-kids/place-2.jpg',
            title: 'Концерты для детей'
        },
        {
            img: 'img/for-kids/place-1.jpg',
            title: 'Фестивали для детей'
        },
        {
            img: 'img/for-kids/place-1.jpg',
            title: 'Спектакли и концерты для детей'
        },
        {
            img: 'img/for-kids/place-2.jpg',
            title: 'Концерты для детей'
        },
        {
            img: 'img/for-kids/place-1.jpg',
            title: 'Фестивали для детей'
        }
    ]
%}

{% set
    calendar = [
        {
            day: '1',
            month: 'July'
        },
        {
            day: '2',
            month: 'July'
        },
        {
            day: '3',
            month: 'July'
        },
        {
            day: '4',
            month: 'July'
        },
        {
            day: '5',
            month: 'July'
        },
        {
            day: '6',
            month: 'July'
        },
        {
            day: '7',
            month: 'July'
        },
        {
            day: '8',
            month: 'July'
        },
        {
            day: '9',
            month: 'July'
        },
        {
            day: '10',
            month: 'July'
        },
        {
            day: '11',
            month: 'July'
        },
        {
            day: '12',
            month: 'July'
        },
        {
            day: '13',
            month: 'July'
        },
        {
            day: '14',
            month: 'July'
        },
        {
            day: '15',
            month: 'July'
        },
        {
            day: '16',
            month: 'July'
        },
        {
            day: '17',
            month: 'July'
        },
        {
            day: '18',
            month: 'July'
        },
        {
            day: '19',
            month: 'July'
        },
        {
            day: '20',
            month: 'July'
        },
        {
            day: '21',
            month: 'July'
        },
        {
            day: '22',
            month: 'July'
        },
        {
            day: '23',
            month: 'July'
        },
        {
            day: '24',
            month: 'July'
        },
        {
            day: '25',
            month: 'July'
        },
        {
            day: '26',
            month: 'July'
        },
        {
            day: '27',
            month: 'July'
        },
        {
            day: '28',
            month: 'July'
        },
        {
            day: '29',
            month: 'July'
        },
        {
            day: '30',
            month: 'July'
        },
        {
            day: '31',
            month: 'July'
        }
    ]
%}
