.icon-arrow-left {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.54em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1.28em;
  height: 1em;
  fill: initial;
}
.icon-calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #FFB100;
}
.icon-profile {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-refresh {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-shopping-cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
